/* Define standard variables and values for website */
.brand {
  display: inline-block;
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.brand span {
  display: inline-block;
  padding: 0.25em;
}

.brand .open {
  color: #ffffff;
  background: #C5050C;
}

.brand .web {
  color: #ffffff;
  background: #13294B;
}

.brand .a11y {
  color: #13294B;
  background: #dddddd;
}

.service-icon svg {
  display: block;
  margin: auto;
  height: 160px;
  width: 160px;
  fill: #13294B;
}

.service-icon {
  text-align: center;
}

.service-icon a {
  text-decoration: none;
  font-size: 150%;
  color: #13294B;
}

svg .brand text {
  font-size: 17px;
}

svg .brand .open rect {
  fill: #C5050C;
}

svg .brand .open text {
  fill: #ffffff;
}

svg .brand .web rect {
  fill: #13294B;
}

svg .brand .web text {
  fill: #ffffff;
}

svg .brand .a11y rect {
  fill: #dddddd;
}

svg .brand .a11y text {
  fill: #13294B;
}

.bg-header {
  background: #dddddd;
}

.lead {
  font-size: 1.5em;
  font-style: italic;
}

blockquote {
  margin: 1em 15%;
  text-align: center;
}

.text-blue {
  color: #005797;
}

nav ol.breadcrumb {
  padding-left: 0;
}

footer {
  margin-top: 40px;
}

a[href] {
  color: #005797;
}

a[href]:hover {
  text-decoration: underline;
}

.breadcrumb a,
.navbar-nav .nav-link,
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
  color: #005797;
  outline-color: #005797;
}

.breadcrumb a[aria-current],
.navbar-nav .nav-link[aria-current],
.navbar-nav .nav-link:hover[aria-current],
.navbar-nav .nav-link:focus {
  color: #000000;
}

.tab-pane {
  margin-top: 1em;
}