/* Define standard variables and values for website */
.brand {
  display: inline-block;
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.brand span {
  display: inline-block;
  padding: 0.25em;
}

.brand .open {
  color: light-dark(#ffffff, #000000);
  background: hsl(358, 95%, 40%);
}

.brand .web {
  color: light-dark(#ffffff, #000000);
  background: light-dark(hsl(216, 60%, 18%), hsl(216, 60%, 82%));
}

.brand .a11y {
  color: light-dark(hsl(216, 60%, 18%), hsl(216, 60%, 82%));
  background: light-dark(#dddddd, #333333);
}

.service-icon svg {
  display: block;
  margin: auto;
  height: 160px;
  width: 160px;
  fill: light-dark(hsl(216, 60%, 18%), hsl(216, 60%, 82%));
}

.service-icon {
  text-align: center;
}

.service-icon a {
  text-decoration: none;
  font-size: 150%;
  color: light-dark(hsl(216, 60%, 18%), hsl(216, 60%, 82%));
}

svg .brand text {
  font-size: 17px;
}

svg .brand .open rect {
  fill: light-dark(hsl(358, 95%, 40%), hsl(358, 95%, 60%));
}

svg .brand .open text {
  fill: light-dark(#ffffff, #000000);
}

svg .brand .web rect {
  fill: light-dark(hsl(216, 60%, 18%), hsl(216, 60%, 82%));
}

svg .brand .web text {
  fill: light-dark(#ffffff, #000000);
}

svg .brand .a11y rect {
  fill: light-dark(#dddddd, #333333);
}

svg .brand .a11y text {
  fill: light-dark(hsl(216, 60%, 18%), hsl(216, 60%, 82%));
}

.bg-header {
  background: light-dark(#dddddd, #333333);
}

.lead {
  font-size: 1.5em;
  font-style: italic;
}

blockquote {
  margin: 1em 15%;
  text-align: center;
}

.text-blue {
  color: light-dark(hsl(216, 60%, 18%), hsl(216, 60%, 82%));
}

nav ol.breadcrumb {
  padding-left: 0;
}

main .session ul {
  margin: 0;
  padding: 0;
  margin-top: 1em;
}

main .session li {
  margin: 0;
  padding: 0;
  margin-left: 1em;
  padding-bottom: 0.25em;
}

footer {
  margin-top: 40px;
}

a[href] {
  color: light-dark(hsl(216, 60%, 18%), hsl(216, 60%, 82%));
}

a[href]:hover {
  text-decoration: underline;
}

.breadcrumb a,
.navbar-nav .nav-link,
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
  color: light-dark(hsl(216, 60%, 18%), hsl(216, 60%, 82%));
  outline-color: light-dark(hsl(216, 60%, 18%), hsl(216, 60%, 82%));
}

.breadcrumb a[aria-current],
.navbar-nav .nav-link[aria-current],
.navbar-nav .nav-link:hover[aria-current],
.navbar-nav .nav-link:focus {
  color: light-dark(#000000, #ffffff);
}

.tab-panel {
  margin-top: 1em;
}

main h3 {
  font-size: 125%;
}