/* test-skipto.css */

button.popup {
  position: absolute;
  top: -36px;
  transition: top 0.35s ease;
}

button.popup.focus,
button.popup:hover {
  position: fixed;
  top: 0;
  display: block;
  transition: left 1s ease;
}

output {
  margin-top: 2em;
  display: block;
  border: 1px solid black;
  width: 20em;
}

