/* test-skipto.css */

.popup {
  position: absolute;
  top: -36px;
  transition: top 0.35s ease;
}

.popup.focus,
.popup:hover {
  position: fixed;
  top: 0;
  display: block;
  transition: left 1s ease;
}

.popup button {
  position: sticky;
  touch-action: none;
}

div.menu {
  position: absolute;
  top: 40px;
  margin: .25em;
  padding: 0.25em;
  touch-action: none;
}
