
          <div id="sessions">

            <h2>Recent</h2>

            <div class="session">
              <h3>NAGW Conference</h3>
              <div class="event"><a href="https://nagw.org/conference">2026 NAGW Conference Information</a></div>
              <div class="venue">Hyatt Regency</div>
              <div class="location">Milwaukee, WI</div>
              <div class="date">October 6th - October 9th, 2026</div>
              <ul>
                <li><a href="./workshop-experience/">Experience of Disability Pre-conference Workshop</a> (Tuesday, October 6th)</li>
              </ul>
            </div>

            <div class="session">
              <h3>Digital Collegium Conference</h3>
              <div class="event"><a href="https://events.digicol.org/digicol25/">2025 Conference Information</a></div>
              <div class="venue">DeVos Convention Center</div>
              <div class="location">Grand Rapids, Michigan</div>
              <div class="date">September 28th - October 1st, 2025</div>
              <ul>
                <li><a href="./workshop-experience/">Experience of Disability Pre-conference Workshop</a> (Sunday, September 28th)</li>
              </ul>
            </div>
          </div>

          <hr/>

          <div id="workshops">

            <h2>Hosting</h2>

            <p>Building an inclusive online resources requires understanding the experience of people with disabilities using the web. Workshops provide a foundation for understanding the diverse ways people with disabilities use the web and the technologies and practices to provide equitable access. Participants gain important context to understanding the requirements of the W3C Web Content Accessibility Guidelines (WCAG) which is the basis of all web accessibility standards. Without the experiential context of disability and the knowledge of the fundamental technologies that make the web accessible, many of the WCAG requirements are easily misunderstood leading to wasted time by content creators and inaccessible content to users.  Workshops can be customized to a particular clients needs and skill levels.</p>

            <ul>
              <li><a href="./workshop-experience/">The Experience of Disability (1/2 day)</a></li>
              <li>Introduction to ARIA Authoring Practices and Accessible Design (1/2 day)</li>
            </ul>

            <h3>Costs</h3>

            <p>The costs associated with hosting one or both of the workshops at your educational institution, organization or business.  Contact Jon Gunderson for more information and scheduling.  NOTE: Workshops can be customized to your individual needs.</p>

            <table aria-label="Workshop Costs" class="table table-striped" style="margin-bottom: 3em">
              <thead>
                <tr>
                    <th>Workshops</th>
                    <th>Education</th>
                    <th>Government</th>
                    <th>Commercial</th>
                    <th>Travel</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="text-center">1/2 Day</td>
                  <td class="text-center">$2,600</td>
                  <td class="text-center">$2,600</td>
                  <td class="text-center">$3,000</td>
                  <td><em>+ travel expenses</em></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="text-center">Full Day</td>
                  <td class="text-center">$3,800</td>
                  <td class="text-center">$3,800</td>
                  <td class="text-center">$4,400</td>
                  <td><em>+ travel expenses</em></td>
                </tr>
              </tbody>
            </table>

            <contact-button data-button-class="button" data-interest="workshop" >
              <span slot="label">Contact Jon Gunderson about Workshops</span>
            </contact-button>

          </div>

