<!DOCTYPE html>
<html lang="en-us" data-bs-theme="dark">
  <head>
    {% include "./head.njk" %}
  </head>
  <body>
    {% include "./header.njk" %}

    <!-- Main section-->
    <div id="main-section" class="container px-4">
      <nav aria-label="Breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">{{title | safe}}</li>
        </ol>
      </nav>
      <main class="row gx-4 justify-content-center">
        <div class="col-lg-8">
          {% block title %}
          <h1>{{title}}</h1>
          {% endblock %}

          <div id="about">

            <p style="margin-bottom: 1.5em">
              <img src="images/headshot-jon-gunderson.jpg" width="30%" alt="picture of jon gunderson">
            </p>

            <contact-button data-button-class="button">
              <span slot="label">Contact Jon Gunderson</span>
            </contact-button>

            <h2 style="margin-top: 0.5em">Jon Gunderson, Ph.D., <abbr title="Certified Web Accessibility Professional">CWAP</abbr></h2>

            <p>Dr. Gunderson has over 35 years of experience in technology and disability.  He most recently served as the Coordinator of Accessible IT Group in the <a href="https://dres.illinois.edu">Division of Disability Resources and Education Services</a> (DRES) at the <a href="https://illinois.edu">University of Illinois in Champaign/Urbana</a> for over 25 years.  At Illinois he was responsible for helping the campus understand the accessibility issues of its online administrative and instructional resources and worked with campus IT professionals and instructors to improve accessibility.  As an undergraduate and graduate student he worked at the Trace Research and Development Center on assistive communication devices and computer access technologies for people with disabilities, including many of the precursors to the built-in accessibility features of modern operating systems.</p>

            <p>He has participated in the W3C Web Accessibility Initiative (WAI) since its inception in 1997. He is the past chair of the W3C WAI User Agent Accessibility Working Group and currently participants in the W3C WAI ARA working group. He is a major contributor to the <a href="https://www.w3.org/WAI/ARIA/apg/">ARIA Authoring Practices</a> and <a href="https://www.w3.org/community/aria-at/">ARIA AT Community Group</a> for testing assistive technologies for ARIA implementation.  He develops open-source web accessibility evaluation tools including <a href="https://ainspector.disability.illinois.edu">AInspector for Firefox</a>, <a href="https://opena11y.github.io/evaluation-library/">OpenA11y Evaluation Library</a> and <a href="https://skipto-landmarks-headings.github.io/script.html">SkipTo.js project</a>.</p>

            <p>He has taught numerous online courses and workshops on accessible web design including courses on using the W3C Accessible Rich Internet Application (ARIA) specifications to create accessible web applications. He also presents at national conferences on web accessibility.</p>

            <p>He is a Certified Web Accessibility Professional (CWAP) from the International Association of Accessibility Professionals (IAAP). He holds a B.S. and M.S. in Electrical and Computer Engineering and a Ph.D. in Industrial Engineering (Human Factors) all from the University of Wisconsin at Madison.</p>

            <h2>Mission Statement</h2>

            <ul>
              <li>To support the understanding and use of the following W3C specializations to improve the experience of people with disabilities using web technologies:
                <ul>
                  <li><a href="https://www.w3.org/TR/wai-aria-1.2/">Accessible Rich Internet Application (ARIA) 1.2 Specification</a></li>
                  <li><a href="https://www.w3.org/TR/html-aria/">Accessible Name and Description Computation 1.1</a></li>
                  <li><a href="https://www.w3.org/TR/accname/">ARIA in HTML Specification</a></li>
                  <li><a href="https://www.w3.org/TR/WCAG20/">Web content Accessibility Guidelines 2.0</a></li>
                  <li><a href="https://www.w3.org/TR/WCAG21/">Web content Accessibility Guidelines 2.1</a></li>
                  <li><a href="https://www.w3.org/TR/WCAG22/">Web content Accessibility Guidelines 2.2</a></li>
                </ul>
              </li>
              <li>Support the best practices for implementing accessible online resources.</li>
              <li>Develop open-source web accessibility tools for anyone to freely use to understand the accessibility of their online resources.</li>
            </ul>

          </div>
        </div>
      </main>
    </nav>
    {% include "./footer.njk" %}
    {% include "./scripts.njk" %}

  </body>
</html>
