
          <div id="system-colors-theme">

          <p>This page was created to help the <a href="https://www.w3.org/WAI/about/groups/task-forces/practices/">W3C ARIA Authoring Practices Task Force</a> develop guidance in using <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Values/system-color">CSS System Colors</a> when contrast themes are set in operating systems or browser settings.</p>

          <h2>Supported System Colors for Contrast Themes</h2>
          <section>
            <h3>Summary</h3>

            <p>System colors that can are changed for both Firefox Contrast themes and Windows 11 Contrast Themes:</p>
            <ul>
              <li><code>Accent Color</code></li>
              <li><code>Button Face</code></li>
              <li><code>Button Text</code></li>
              <li><code>Canvas</code></li>
              <li><code>Canvas Text</code></li>
              <li><code>Link Text</code></li>
              <li><code>Visited Text</code></li>
            </ul>
          </section>

          <h3>Default System Colors by Operating System</h3>
          <h4>Summary</h4>
          <p>The default system colors are not consistent between browsers, although Mozilla Firefox and Google Chrome use very similar schemes.</p>
          <details>
            <summary>Default System Colors Data</summary>
            <section id="default-comparisons" class="data">
            </section>
          </details>

          <h3>Firefox Contrast</h3>
          <h4>Summary</h4>
          <p>The system colors affected by Firefox Website Contrast settings are consistent between operating systems.  The following system colors are changed based on the contrast settings:</p>
          <ul>
            <li><code>Accent Color</code></li>
            <li><code>Button Face</code></li>
            <li><code>Button Text</code></li>
            <li><code>Canvas</code></li>
            <li><code>Canvas Text</code></li>
            <li><code>Link Text</code></li>
            <li><code>Visited Text</code></li>
          </ul>

          <details>
            <summary>Firefox Windows Contrast Data</summary>
            <section id="firefox-comparisons" class="data">
            </section>
          </details>

          <h3>Windows 11 Contrast Themes</h3>
          <h4>Summary</h4>
          <p>The system colors affected by Window 11 Contrast Themes are consistent between Firefox, Chrome and Edge, except for the <code>Active Text</code> system color which Firefox does not support.  The following system colors are changed based on all three browsers when a Windows 11 Contrast Theme is enabled:</p>

          <ul>
            <li><code>Accent Color</code></li>
            <li><code>Accent Color Text</code></li>
            <li><code>Button Border</code></li>
            <li><code>Button Face</code></li>
            <li><code>Button Text</code></li></li>
            <li><code>Canvas Text</code></li></li>
            <li><code>Field Text</code></li>
            <li><code>Gray Text</code></li>
            <li><code>Highlight</code></li>
            <li><code>Highlight Text</code></li>
            <li><code>Link Text</code></li></li>
            <li><code>Mark Text</code></li>
            <li><code>Selected Item</code></li>
            <li><code>Selected Item Text</code></li>
            <li><code>Visited Text</code></li>
          </ul>

          <details style="margin-bottom: 2em;">
            <summary>Windows 11 Contrast Theme Data</summary>
            <section id="win11-theme-comparisons" class="data">
            </section>
          </details>

            <hr/>
            <h2 style="margin-top: 2em">Current Computed System Colors</h2>

            <p>The following table shows the current system colors based on the browser you are using, operating system and contrast theme settings.  Information can be expored in a JSON format and this information was used to create the comparison tables in the previous sections.</p>

            <h3>Color Context</h3>
            <ul>
              <li>
                <span class="context" id="useragent"></span>
              </li>
              <li>
                <span class="context" id="os"></span>
              </li>
              <li>
                <label for="theme">Color Theme</label>
                <select id="theme">
                  <option value="default" selected>default</option>
                  <option value="firefox-contrast">Firefox Website Contrast</option>
                  <option value="win11-aquatic">Windows 11 Aquatic Theme</option>
                  <option value="win11-desert">Windows 11 Desert Theme</option>
                  <option value="win11-dusk">Windows 11 Dusk Theme</option>
                  <option value="win11-night">Windows 11 Night Theme</option>
                </select>
              </li>
            </ul>

            <h3>Export Options</h3>
            <p>
              <a id="export-download" href="test.json" type="application/json">Download as JSON</a> |
              <a id="export-clipboard" href="#">Copy JSON to Clipboard</a>
            </p>

            <h3 id="computed-colors">Computed System Colors</h3>
            <table class="table data" aria-labelledby="computed-colors">
              <thead>
                <tr>
                  <th>System Color</th>
                  <th>Computed Color</th>
                  <th>Description</th>
                </tr>
              </thead>
              <tbody id="system-colors">
              </tbody>
            </table>

          </div>


            <!-- Color Settings JS -->
            <script src="{{path}}js/system-colors.js" type="module"></script>
