<!DOCTYPE html>
<html lang="en-us">
  <head>
    {% include "./head.njk" %}
  </head>
  <body>
    {% include "./header.njk" %}

    <!-- Main section-->
    <div id="main-section" class="container px-4">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">{{title | safe}}</li>
        </ol>
      </nav>
      <main class="row gx-4 justify-content-center">
        <div class="col-lg-8">
          {% block title %}
          <h1>{{title}}</h1>
          {% endblock %}
          <div id="resources">

            <h2>W3C Web Accessibility Initiative</h2>

            <p>Something about WAI...</p>

            <h2>Describing Images</h2>

            <p>Something about describing images....</p>

            <h2>Captioning</h2>

            <p>Something about captioning...</p>

            <h2>Audio Descriptions</h2>

            <p>Something about audio descriptions...</p>

            <h2>Digital Book Accessibility</h2>

            <p>Something about digital book accessibility...</p>

            <h2>PDF Document Accessibility</h2>

            <p>Something about PDF accessibility...</p>


          </div>
        </div>
      </main>
    </nav>
    {% include "./footer.njk" %}
    {% include "./scripts.njk" %}

  </body>
</html>
