<!DOCTYPE html>
<html lang="en-us">
  <head>
    {% include "./head.njk" %}
  </head>
  <body>
    {% include "./header.njk" %}

    <!-- Main section-->
    <div id="main-section" class="container px-4">
      <nav aria-label="Breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{path}}index.html">Home</a></li>
          <li class="breadcrumb-item"><a href="{{path}}workshops.html">Workshops</a></li>
          <li class="breadcrumb-item active">{{title | safe}}</li>
        </ol>
      </nav>
      <main class="row gx-4 justify-content-center">
        <div class="col-lg-8">
          {% block title %}
          <h1>{{title}}</h1>
          {% endblock %}

          <div id="sessions">
            <div class="session">
              <h2>Digital Collegium Conference</h2>
              <div class="event"><a href="https://events.digicol.org/digicol25/">2025 Conference Information</a></div>
              <div class="venue">DeVos Convention Center</div>
              <div class="location">Grand Rapids, Michigan</div>
              <div class="date">September 28th - October 1st, 2025</div>

              <ul>
                <li><a href="./experience/">Experience of Disability Pre-conference Workshop</a> (Sunday, September 28th)</li>
                <li><a href="./tools/">AInspector Sidebar browser extension for WCAG evaluation</a> (Tuesday, September 30th)</li>
              </ul>
            </div>
          </div>

        </div>
      </main>
    </nav>
    {% include "./footer.njk" %}
    {% include "./scripts.njk" %}

  </body>
</html>
