<!DOCTYPE html>
<html lang="en-us">
  <head>
    {% include "./head.njk" %}
  </head>
  <body>
    {% include "./header.njk" %}

    <!-- Main section-->
    <div id="main-section" class="container px-4">
      <nav aria-label="Breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">{{title | safe}}</li>
        </ol>
      </nav>
      <main class="row gx-4 justify-content-center">
        <div class="col-lg-8">
          {% block title %}
          <h1>{{title}}</h1>
          {% endblock %}
          <div id="services">

            <p>Building an inclusive online resources requires understanding the experience of people with disabilities using the web. My workshops provide a foundation for understanding the diverse ways people with disabilities use the web and the technologies and practices to provide equitable access. Participants gain important context to understanding the requirements of the W3C Web Content Accessibility Guidelines (WCAG) which is the basis of all web accessibility standards. Without the experiential context many of the WCAG requirements are often misunderstood leading to wasted time by content creators and inaccessible content to users.  Workshops can be customized to a particular clients needs and skill levels.</p>

            <h2>Workshops:</h2>
            <ul>
              <li>The Experience of Disability (1/2 day)</li>
              <li>Introduction to ARIA Authoring Practices and Accessible Design (1/2 day)</li>
              <li><a href="sessions/">Session details</a></li>
            </ul>

            <h2>Costs</h2>

            <p>The costs associated with hosting one or both of the workshops at your educational institution, organization or business.  Please contact Jon Gunderson for more information and scheduling.  NOTE: Workshops can be customized to your individual needs.</p>

            <table aria-label="Workshop Costs" class="table table-striped" style="margin-bottom: 3em">
              <thead>
                <tr>
                    <th>Workshops</th>
                    <th>Education</th>
                    <th>Government</th>
                    <th>Commercial</th>
                    <th>Travel</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="text-center">1</td>
                  <td class="text-center">$2,600</td>
                  <td class="text-center">$2,600</td>
                  <td class="text-center">$3,000</td>
                  <td><em>+ travel expenses</em></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="text-center">2</td>
                  <td class="text-center">$3,800</td>
                  <td class="text-center">$3,800</td>
                  <td class="text-center">$4,400</td>
                  <td><em>+ travel expenses</em></td>
                </tr>
              </tbody>
            </table>

            <contact-button data-button-class="button" data-interest="workshop" >
              <span slot="label">Contact Jon Gunderson about Workshops</span>
            </contact-button>

          </div>
        </div>
      </main>
    </div>
    {% include "./footer.njk" %}
    {% include "./scripts.njk" %}

  </body>
</html>
