

          <div id="sessions">
            <div class="session">
              <h2>Digital Collegium Conference</h2>
              <div class="event"><a href="https://events.digicol.org/digicol25/">2025 Conference Information</a></div>
              <div class="venue">DeVos Convention Center</div>
              <div class="location">Grand Rapids, Michigan</div>
              <div class="date">September 28th - October 1st, 2025</div>

              <ul>
                <li><a href="./experience/">Experience of Disability Pre-conference Workshop</a> (Sunday, September 28th)</li>
                <li><a href="./tools/">AInspector Sidebar browser extension for WCAG evaluation</a> (Tuesday, September 30th)</li>
              </ul>
            </div>
          </div>

