<!DOCTYPE html>
<html lang="en-us">
  <head>
    {% include "./head.njk" %}
  </head>
  <body>
    {% include "./header.njk" %}

    <!-- Main section-->
    <div id="main-section" class="container px-4">
      <nav aria-label="Breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">{{title | safe}}</li>
        </ol>
      </nav>
      <main class="row gx-4 justify-content-center">
        <div class="col-lg-8">
          {% block title %}
          <h1>Open-Source Tools</h1>
          {% endblock %}
          <div id="projects">

            <h2 id="h2l">Headings, Landmarks and Links (H2L)</h2>

            <p>Headings, Landmarks and Links is a browser extension for viewing the headings, landmarks and links on a web page.</p>

            <ul>
              <li>
                <a href="https://opena11y.github.io/h2l-side-panel/">
                  Headings, Landmarks and links (H2L) browser extensions
                </a>
              </li>
              <li>
                <a href="https://github.com/opena11y/h2l-side-panel">
                  H2L Source Code
                </a>
              </li>
            </ul>


            <h2 id="skipto">SkipTo.js</h2>

            <p>The SkipTo.js was originally available as a script to replace for the "Skip To Main" link and is now available as a browser extension to make keyboard navigation to headings and landmarks available on web page.  <span style="font-family: cursive">Happy Skipping!</span></p>

            <ul>
              <li>
                <a href="https://skipto-landmarks-headings.github.io/page-script-5/extensions.html">
                  SkipTo.js Browser Extensions
                </a>
              </li>
              <li>
                <a href="https://skipto-landmarks-headings.github.io/page-script-5/page-script.html">
                  SkipTo.js Page Script replacement for "Skip To Main" link
                </a>
              </li>
              <li>
                <a href="https://skipto-landmarks-headings.github.io/page-script-5/bookmarklets.html">
                  SkipTo.js Bookmarklet
                </a>
              </li>
              <li>
                <a href="https://github.com/skipto-landmarks-headings/page-script-5">
                  SkipTo.js Source Code
                </a>
              </li>
            </ul>

            <h2 id="ainspector">AInspector for Firefox</h2>

            <p>AInspector for Firefox is an open source add-on for the Firefox browser that, when activated, automatically analyzes the page loaded in the active tab for compliance with accessibility requirements defined by the World Wide Web Consortium (W3C), and for proper use of accessibility features defined by the current HTML Standard (previously known as HTML5).  There is at least one rule for each WCAG level A and AA requirement.</p>

            <ul>
              <li>
                <a href="https://ainspector.disability.illinois.edu/">
                  AInspector Documentation
                </a>
              </li>
              <li>
                <a href="https://opena11y.github.io/evaluation-library/rulesets.html">
                  Rulesets and Rules
                </a>
              </li>
              <li>
                <a href="https://github.com/opena11y/ainspector-for-firefox/">
                  AInspector Source Code
                </a>
              </li>
            </ul>

            <h2 id="library">OpenA11y Evaluation Library</h2>

            <p>Javascript library for evaluating WCAG 2.x and ARIA conformance. The library is designed to be used in browser extensions or browser emulators to evaluate accessibility features and issues of web pages. The evaluation results can be accessed through APIs or exporting the results in a JSON format.</p>

            <ul>
              <li>
                <a href="https://opena11y.github.io/evaluation-library/">
                  Evaluation Library Documentation
                </a>
              </li>
              <li>
                <a href="https://opena11y.github.io/evaluation-library/rulesets.html">
                  Rulesets and Rules
                </a>
              </li>
              <li>
                <a href="https://github.com/opena11y/evaluation-library?tab=readme-ov-file">
                  Evaluation Library Source Code
                </a>
              </li>
            </ul>
          </div>
        </div>
      </main>
    {% include "./footer.njk" %}
    {% include "./scripts.njk" %}

  </body>
</html>
