/* contact-button.css */
$iconBlue: hsl(216, 60%, 18%);
$iconBlueDark: hsl(216, 60%, 82%);
$iconRed: hsl(358, 95%, 40%);
$iconRedDark: hsl(358, 95%, 60%);
$iconBackground: #dddddd;
$iconBackgroundDark: #333333;
$iconWhite: #ffffff;
$iconWhiteDark: #000000;
$contentBlue: hsl(205, 100%, 30%);
$contentBlueDark: hsl(205, 100%, 70%);
$linkCurrent: #000000;
$linkCurrentDark: #ffffff;
$linkIcon: #000000;
$linkIconDark: #ffffff;


button#contact-button {
  display: inline-block;
  margin: auto;
  background-color: light-dark($iconWhite, $iconWhiteDark);
  color: light-dark($iconBlue, $iconBlueDark);
  font-size: 100%;
  border-radius: 4px;
  border-color: light-dark($iconBlue, $iconBlueDark);
  text-align: center;
}

button#contact-button:focus,
button#contact-button:hover {
  outline: 2px solid light-dark($iconBlue, $iconBlueDark);
}

button#contact-button.button {
  font-size: 150%;
}

button#contact-button.big {
  display: block;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 2em;
  font-size: 150%;
  background: transparent;
  color: light-dark($iconBlue, $iconBlueDark);
  border: none;
}

[role="dialog"] {
  margin: auto;
  padding: 0;
  display: none;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  color: light-dark($iconWhiteDark, $iconWhite);
  background-color: light-dark($iconWhite, $iconWhiteDark);
  border: 2px solid light-dark($iconBlue, $iconBlueDark);
  border-radius: 5px;
  width: 50%;
  min-width: 400px;
  left: 5%;
  z-index: 15;
  text-align: left;
}

[role="dialog"].info {
  top: 95px;
}

[role="dialog"].rerun,
[role="dialog"].export {
  bottom: 30px;
}

[role="dialog"] .header {
  margin-bottom: 0.5em;
  padding: 4px;
  padding-left: 1em;
  border-bottom: 1px solid light-dark($iconBlue, $iconBlueDark);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-weight:  bold;
  background-color: light-dark(#eee, #333);
  position: relative;
  font-size: 1em;
}

[role="dialog"] .header button {
  position: absolute;
  top: -0.25em;
  right: 0;
  border: none;
  background: transparent;
  font-weight: bold;
  color: light-dark($iconWhiteDark, $iconWhite);
}

[role="dialog"] .content {
  margin: 1em;
  text-align: left;
}

[role="dialog"] .select {
  width: 15em;
}

[role="dialog"] label.input {
  font-weight: bold;
}

[role="dialog"] label
[role="dialog"] .desc {
  padding: 4px;
  font-size: 90%;
}

[role="dialog"] .desc {
  margin:  0;
  padding: 0;
  margin-bottom: 1em;
  font-style: italic;
}

[role="dialog"] fieldset {
  margin: 0;
  padding: 0;
  margin-bottom: 1em;
  border: none;
}

[role="dialog"] legend {
  font-weight:  bold;
}

[role="dialog"] div.select,
[role="dialog"] label.checkbox,
[role="dialog"] label.radio {
  display:  block;
  padding: 4px;
}

[role="dialog"] button {
  margin: 6px;
}

[role="dialog"] input[type="checkbox"] {
  margin: 4px;
}

[role="dialog"] fieldset label.input {
  display: block;
  margin: 0;
  padding: 0;
  margin-top: 0.5em;
  margin-left: 0.75em;
}

[role="dialog"] fieldset input[type="text"],
[role="dialog"] fieldset input[type="email"],
[role="dialog"] fieldset input[type="tel"],
[role="dialog"] fieldset textarea {
  margin: 4px;
  margin-left: 0.75em;
}

[role="dialog"] fieldset input[type="checkbox"] {
  margin-left: 0.75em;
}


[role="dialog"] fieldset div.note {
  margin:  0;
  padding: 0;
  margin-left:  0.75em;
  font-style: italic;
}


[role="dialog"]  {
  margin-left: 0;
  margin-bottom: 1em;
}

[role="dialog"] .buttons {
  float: right;
  margin: 0.5em;
}

[role="dialog"] .buttons button {
  font-size: 110%;
  padding: 0.25em;
  width: 8em;
}

[role="dialog"] select,
[role="dialog"] input[type="checkbox"],
[role="dialog"] input[type="radio"] {
  outline: none;
}

[role="dialog"] div.select.focus,
[role="dialog"] label.checkbox.focus,
[role="dialog"] label.radio.focus {
  padding: 2px;
  border: 2px solid currentColor;
  background-color:  light-dark(#eee, #333);
  border-radius: 5px;
}

[role="dialog"] div.select:hover,
[role="dialog"] label.checkbox:hover,
[role="dialog"] label.radio:hover {
  padding: 3px;
  border: 1px solid light-dark(#888, #888);
  background-color:  light-dark(#eee, #333);
}

[role="dialog"] input[type="text"]:focus,
[role="dialog"] input[type="email"]:focus,
[role="dialog"] input[type="tel"]:focus,
[role="dialog"] textarea:focus,
[role="dialog"] button:focus,
[role="dialog"] input[type="text"]:hover,
[role="dialog"] input[type="email"]:hover,
[role="dialog"] input[type="tel"]:hover,
[role="dialog"] textarea:hover,
[role="dialog"] button:hover {
  outline: 2px solid currentColor;
  outline-offset: 2px;
}

[role="dialog"] textarea {
  width:99%;
}

[role="dialog"] .required {
  font-weight: normal;
  font-style: italic;
}

button#contact-button {
  text-align:  center;
  white-space: nowrap;
  padding: 1px 4px 2px;
}

button:focus,
button#content-button:focus {
  outline: 2px solid currentColor;
  outline-offset: 2px;
}

button:hover {
  cursor: pointer;
}

[role="dialog"] .note code {
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  font-style: normal !important;
  font-weight:  bold;
}

[role="dialog"] .feedback {
  color: light-dark($iconWhiteDark, $iconWhite);
  border: 2px solid light-dark($iconRed, $iconRedDark);
  background:  light-dark($iconWhite, $iconWhiteDark);
  padding: 2px;
  border-radius:  5px;
}

[role="dialog"] .feedback img {
  height: 12px !important;
}

[role="dialog"] .feedback.prefix {
  margin-left:  0.75em;
  display:  none;
}

[role="dialog"] .feedback.prefix.show {
  display:  block;
}


[role="dialog"] div.phone {
  font-size: 110%;
  margin: 0.75em;
  text-align: center;
  font-style: italic;
}

