
          <div id="system-colors-theme">

            <h2>Current System Color</h2>

            <h3>Color Context</h3>
            <ul>
              <li>
                <span class="context" id="useragent"></span>
              </li>
              <li>
                <span class="context" id="os"></span>
              </li>
              <li>
                <label for="theme">Color Theme</label>
                <select id="theme">
                  <option value="default" selected>default</option>
                  <option value="firefox-contrast">Firefox Website Contrast</option>
                  <option value="win11-aquatic">Windows 11 Aquatic Theme</option>
                  <option value="win11-desert">Windows 11 Desert Theme</option>
                  <option value="win11-dusk">Windows 11 Dusk Theme</option>
                  <option value="win11-night">Windows 11 Night Theme</option>
                </select>
              </li>
            </ul>

            <h3>Export Options</h3>
            <p>
              <a id="export-download" href="test.json" type="application/json">Download as JSON</a> |
              <a id="export-clipboard" href="#">Copy JSON to Clipboard</a>
            </p>

            <h3 id="computed-colors">Computed System Colors</h3>
            <table class="table data" aria-labelledby="computed-colors">
              <thead>
                <tr>
                  <th>System Color</th>
                  <th>Computed Color</th>
                  <th>Description</th>
                </tr>
              </thead>
              <tbody id="system-colors">
              </tbody>
            </table>

          </div>

          <h2>System Color Comparisons</h2>
          <section>
            <h3>Summary</h3>

            <p>System colors that can are changed for both Firefox Contrast themes and Windows 11 Contrast Themes:</p>
            <ul>
              <li><code>Accent Color</code></li>
              <li><code>Button Face</code></li>
              <li><code>Button Text</code></li>
              <li><code>Canvas</code></li>
              <li><code>Canvas Text</code></li>
              <li><code>Link Text</code></li>
              <li><code>Visited Text</code></li>
            </ul>
          </section>
          <section id="color-comparisons">
          </secton>


            <!-- Color Settings JS -->
            <script src="{{path}}js/system-colors.js" type="module"></script>
