<!DOCTYPE html>
<html lang="en-us" data-bs-theme="dark">
  <head>
    {% include "./head.njk" %}
  </head>
  <body>
    {% include "./header.njk" %}

    <!-- Main section-->
    <div id="main-section" class="container px-4">
      <nav aria-label="Breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">{{title | safe}}</li>
        </ol>
      </nav>
      <main class="row gx-4 justify-content-center">
        <div class="col-lg-8">
          {% block title %}
          <h1>{{title}}</h1>
          {% endblock %}
          <div id="consulting">

            <p>Jon Gunderson can help you understand:
            <ul>
              <li>How to test websites for accessibility.</li>
              <li>Identify and document accessibility issues.</li>
              <li>Finding solutions for solving accessibility issues.</li>
              <li>Understanding how to use Accessible Rich Internet Applications (ARIA) technology to improve accessibility.</li>
              <li>Improving the user experience of people with disabilities.</li>
              <li>Support people new to accessibility to feel confident in their understanding of accessibility.</li>
            </ul>

            <p>Jon has over 25 years of experience working on web accessibility standards and solutions.  He is a founding member of both W3C Web Content Accessibility Guidelines (WCAG) and Accessible Rich Internet Applications (ARIA) working groups.  He has worked with major software companies and individual developers in helping the them understand accessible design and making their designs not only more accessible, but more usable to people with disabilities.  He has developed open-source (e.g. free) tools designed to help people learn about WCAG requirements and use best practices to meet them.  Contact Jon to see how he can help you improve the accessibility of your online resources.</p>

            <h2 >Rates</h2>
           <table aria-label="Consulting Rates" class="table table-striped" style="margin-bottom: 3em; width: 20em">
              <thead>
                <tr>
                    <td style="width: 14em"></td>
                    <th>Rate</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th class="text-left">Commercial</th>
                  <td class="text-left">$75/hour</td>
                </tr>
                <tr>
                  <th class="text-left">Government</th>
                  <td class="text-left">$65/hour</td>
                </tr>
                <tr>
                  <th class="text-left">Education/Non-Profit</th>
                  <td class="text-left">$65/hour</td>
                </tr>
              </tbody>
            </table>

            <contact-button data-button-class="button" data-interest="consulting" >
              <span slot="label">Contact Jon Gunderson about Consulting</span>
            </contact-button>

          </div>
        </div>
      </main>
    </div>
    {% include "./footer.njk" %}
    {% include "./scripts.njk" %}

  </body>
</html>
