        <!-- Footer-->
        <footer class="py-5 bg-light">
            <blockquote  class="center-block">
             <div class="fw-bold">"The power of the Web is in its universality. Access by everyone regardless of disability is an essential aspect."</div>
             <div class="fst-italic">Tim Berners-Lee, W3C Founding Director and inventor of the World Wide Web, 2009</div>
            </blockquote>

            <div class="container px-4 text-center">Open Web Accessibility Services, LLC</div>
            <div class="container px-4 text-center">Educational and Consulting Services on Web Accessibility</div>
        </footer>


