        <!-- Footer-->
        <footer class="py-5 bg-light">
            <blockquote  class="center-block">
             "The power of the Web is in its universality. Access by everyone regardless of disability is an essential aspect."<br/>
             <em>Tim Berners-Lee, W3C Founding Director and inventor of the World Wide Web, 2009</em>
            </blockquote>

            <div class="container px-4"><p class="m-0 text-center text-blue">Copyright &copy; Open Web Accessibility Learning and Consulting Services 2024</p></div>
        </footer>


