/* Define standard variables and values for website */
$iconBlue: hsl(216, 60%, 18%);
$iconBlueDark: hsl(216, 60%, 82%);
$iconRed: hsl(358, 95%, 40%);
$iconRedDark: hsl(358, 95%, 60%);
$iconBackground: #dddddd;
$iconBackgroundDark: #333333;
$iconWhite: #ffffff;
$iconWhiteDark: #000000;
$contentBlue: hsl(205, 100%, 30%);
$contentBlueDark: hsl(205, 100%, 70%);
$linkCurrent: #000000;
$linkCurrentDark: #ffffff;
$linkIcon: #000000;
$linkIconDark: #ffffff;

$backgroundColor: #fff;
$backgroundColorDark: #000;

$textColor: #000;
$textColorDark: #eee;

$headingColor: hsl(216, 60%, 36%);
$headingColorDark:  hsl(216, 60%, 64%);

:root {
  color-scheme: light dark;
}

body,
table,
td,
th {
  background-color: light-dark($backgroundColor, $backgroundColorDark) !important;
}

h1,h2, h3, h4, h5, h6 {
  color: light-dark($headingColor, $headingColorDark) !important;
}

p, ul, ol, li, th, td, blockquote, div {
  color: light-dark($textColor, $textColorDark) !important;
}

.brand {
  display: inline-block;
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.brand span {
  display: inline-block;
  padding: 0.25em;
}

.brand .open {
  color: light-dark($iconWhite, $iconWhiteDark);
  background: $iconRed;
}

.brand .web {
  color: light-dark($iconWhite, $iconWhiteDark);
  background: light-dark($iconBlue, $iconBlueDark);
}

.brand .a11y {
  color: light-dark($iconBlue, $iconBlueDark);
  background: light-dark($iconBackground, $iconBackgroundDark);
}

.service-icon svg {
  display: block;
  margin: auto;
  height: 160px;
  width: 160px;
  fill: light-dark($iconBlue, $iconBlueDark);
}

.service-icon {
  text-align: center;
}

.service-icon a {
  text-decoration: none;
  font-size: 150%;
  color: light-dark($iconBlue, $iconBlueDark);
}


svg .brand text {
  font-size: 17px;
}

svg .brand .open rect {
  fill: light-dark($iconRed, $iconRedDark);
}

svg .brand .open text {
  fill: light-dark($iconWhite, $iconWhiteDark);
}

svg .brand .web rect {
  fill: light-dark($iconBlue, $iconBlueDark);
}

svg .brand .web text {
  fill: light-dark($iconWhite, $iconWhiteDark);
}

svg .brand .a11y rect {
  fill: light-dark($iconBackground, $iconBackgroundDark);
}

svg .brand .a11y text {
  fill: light-dark($iconBlue, $iconBlueDark);
}

.bg-header {
  background: light-dark($iconBackground, $iconBackgroundDark);
}

.lead {
  font-size: 1.5em;
  font-style: italic;
}

blockquote {
  margin: 1em 15%;
  text-align: center;
}

.text-blue {
  color: light-dark($iconBlue, $iconBlueDark);
}

nav ol.breadcrumb {
  padding-left:  0;
}

main .session ul {
  margin: 0;
  padding: 0;
  margin-top: 1em;
}

main .session li {
  margin: 0;
  padding: 0;
  margin-left: 1em;
  padding-bottom: 0.25em;
}

footer {
  margin-top: 40px;
}

a[href] {
  color: light-dark($iconBlue, $iconBlueDark);
}

a[href]:hover {
  text-decoration: underline;
}

.breadcrumb a,
.navbar-nav .nav-link,
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
  color: light-dark($iconBlue, $iconBlueDark);;
  outline-color: light-dark($iconBlue, $iconBlueDark);;
}

.breadcrumb a[aria-current],
.navbar-nav .nav-link[aria-current],
.navbar-nav .nav-link:hover[aria-current],
.navbar-nav .nav-link:focus {
  color: light-dark($linkCurrent, $linkCurrentDark);
}

.tab-panel {
  margin-top: 1em;
}

main h3 {
  font-size: 125%;
}
